<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="App Test Suite">
            <directory>test-code/tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/service/</directory>
        </include>
        <report>
            <html outputDirectory="test-code/result"/>
        </report>
    </coverage>
</phpunit>
